@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background: #f9f7f0;
    height: 80px;
}

.nav_logo {
    height: 5em;
}

.nav_container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav_item {
    color: #052e49;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item::after {
    content: "";
    display: block;
    background: #052e49;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 500ms;
}

nav.item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_label, .nav_input {
    display: none;
} 

.nav_input:checked + .nav_menu {
    background: #f9f7f0;
}

.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}